<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <input
            type="text"
            list="keywords"
            id="keywordInput"
            placeholder="Masukkan kata kunci"
        />
        <datalist id="keywords">
            <option value="Kata kunci 1"></option>
            <option value="Kata kunci 2"></option>
            <option value="Kata kunci 3">
                <!-- Tambahkan opsi kata kunci lainnya sesuai kebutuhan -->
            </option>
        </datalist>
    </body>
</html>
